<!DOCTYPE html>

<html lang="en" style="background-color: #33FFCA">
    <link href="/static/styles.css" rel="stylesheet">
    <head>
        <title>SignShare</title>
        <h1 style="text-align: center; font-family: courier; margin-bottom: 50px; font-size: 50px">Share a sign. Make your voice heard.</h1>
    </head>

    <body>
        <hr style="height:2px;border-width:0;color:gray;background-color:gray">
        <div style="text-align: center; font-family: perpetua; font-size: 40px; margin-top: 30px; margin-bottom: 30px; line-height: 50px">
            In light of the current protests in the context of the COVID-19 pandemic, it's reasonable to want to speak out while also being afraid
            of contracting the virus at a protest or gathering. In order to have your voice heard, SignShare seeks to connect protestors with
            people willing to make signs for them to use so that no voice goes unheard.
        </div>
        <hr style="height:2px;border-width:0;color:gray;background-color:gray">

        <div style="text-align: center; font-family: courier; margin-top: 60px">
            <h1> How do you want to help? </h1>
        </div>
        <div style="text-align: center">
            <form action="/make">
                <input type="submit" class = "main_button choice" value="I want to make a sign" />
            </form>

            <form action="/receive">
                <input type="submit" class="main_button choice"value="I want to pick up a sign" />
            </form>
        </div>
        <div style="margin-top: 20px; text-align: center">
            <form action="https://blacklivesmatters.carrd.co/">
                <input type="submit" class="main_button choice"value="I want to help more" />
            </form>
        </div>
    </body>
</html>