<!DOCTYPE html>

<html lang="en" style="background-color: #33FFCA">
        <link href="/static/styles.css" rel="stylesheet">

        <head>
            <title>SignShare</title>
        </head>

        <body>
            <div style="text-align: center; margin-top: 120px; margin-bottom: 75px; font-family: perpetua; font-size: 60px">
                One of more of the required fields entered was blank. Please fill each field and try again.
            </div>

            <div style="margin-top: 20px; text-align: center">
                <form action="/">
                    <input type="submit" class="main_button choice"value="Back to home" />
                </form>
            </div>
        </body>
</html>
