<!DOCTYPE html>

<html lang="en" style="background-color: #33FFCA">
        <link href="/static/styles.css" rel="stylesheet">

        <head>
            <title>SignShare</title>
        </head>

        <body>
            <div style="text-align: center; margin-top: 120px; margin-bottom: 75px; font-family: perpetua; font-size: 60px">
                The email address entered could not be found in the system. Please make sure it's typed in case sensitive and  that the person whom you're
                trying to connect with has already registered to make a sign.
            </div>

            <div style="margin-top: 20px; text-align: center">
                <form action="/">
                    <input type="submit" class="main_button choice"value="Back to home" />
                </form>
            </div>
        </body>
</html>
